
h4{
    color:black;
}


/*This overwrites the standard bootstrap navigation bar*/
.navbar{
top:35px;
text-shadow:white;
background-color: #3e3f3a;
width:100%;
font-family: 'Barlow Condensed', sans-serif;
}

/*logo*/
.navbar-brand{
    margin-top:11px;
     font-family: 'Orbitron', sans-serif; 
     max-width:300px;
     font-size:2.5em;
     display:inline;
} 

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: white;
}

.ui-link{
    shadow:white;
}

/*nav menu list at top of the page*/
.navbar-default .navbar-nav>li>a {
    color: #a89b59;
    font-size:1.5em;
    top:10px;
    
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #a89b59;
}

/*This overwrite the standard bootstrap grey background*/
.img{
color:white;

}

/*any green text will be gold*/
p {
  color: #a89b59;
}

body {
    font-family: Arial;
    padding-top: 100px;
    background-color: white;
}


/*This code forces the footer to occupy the complete width of the screen*/
.footer_full_width{
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #a89b59;
    background-color: #3e3f3a;
}

footer a {
    color: lightgrey;
}

footer a:hover {
    color: #efefef;
}



 /* social media */        
.fa {
    padding: 1px;
    font-size: 1.5em;
    color:#a89b59;
    width: 40px;
    height:40px;
    text-align: center;
    text-decoration: white;
    margin-top: -8px;
    border-radius: 50%;
}

/*Here is where we give our fontawsome icons the gold color*/
.fa fa:hover {
    opacity: 0.7;
}

/*Here is where we give our fontawsome icons the gold color*/
.fa  {
    color: #a89b59;
}

/*size and position of shopping cart icon*/
.fa-shopping-cart{
    margin-top:0px;
    color:#9f9354;
    font-size: 1.2em;
    background-color:none;
}
/*Home icon*/
.fa-home{
    margin-top:2px;
    color:#9f9354;
    font-size: 1.2em;
}

.accountform {
    padding-top: 20px;
}

.list-unstyled {
    
    color:#a89b59;
}
 unvisited link 
a:link {
    color: white;
}

 visited link 
a:visited {
    color: white;
}

 mouse over link 
a:hover {
    color: white;
}

 selected link 
a:active {
    color: gold;
}

/*This is the container in product_detail.html page which holds extra product images */
.project_container{
    margin-top: 10px;
    max-width: 400px;
    height:auto; 
    display:block;
    float: left;
}
/*This css block will keep image width consistant inside the project container*/
.project_photo img{
    width: 200px;
    margin-left:3px;
}
/*This css overides the bootstrap theme removing the standard border*/
.thumbnail {
    top:20px;
    border: 0px;
    background-color: white;
}

.add-to-cart{
    float:right;
}
/*edit button submit only appear when user is logged in*/
.edit_button btn btn-success{
    float:right; 
    display:hidden;
}

/*The large static header image at the top
In the future this will be different for each category */
.amazing_jumbo_pic{
    z-index:-100;
    position:static;
    height:400px;
    margin-top:-60px;
    margin-left: -33.33%;
    margin-right: -33.33%;
    margin-bottom:0px;
}

.lighting{

    background-image: url("https://s3.eu-west-3.amazonaws.com/glo-lighting/media/jumbo_pics/lighting_pic.jpg");
}

.bathrooms{

    background-image: url("https://s3.eu-west-3.amazonaws.com/glo-lighting/media/jumbo_pics/bathroom_pic.jpg");
}

.furniture{

    background-image: url("https://s3.eu-west-3.amazonaws.com/glo-lighting/media/jumbo_pics/furniture_pic.jpg");
}


/* This is a menu bar which is specific for each project category*/

.filter-bar{
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color:#3e3f3a;
    text-align:center;
    color:white;

}

.btn-invisable{
   display:hidden; 
}

.alert-success{
top:-30px;
z-index:200;
background-color:#a89b59;
}

.btn-success {
    color: #fff;
    background-color: #a89b59;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #5e5845;
    
}

#btn-cross{
    margin-left: 97%;
    margin-top: 0%;
}

.badge-light{
    
    background-color:red;
    margin-left:0px;
    border-radius:3;
   
}

.btn{
    background-color:#a89b59;
}


/* search*/

* {
  box-sizing: border-box;
}
/*searchbox field*/
form.product_finder input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 200px;
  height:25px;
  background: white;
  margin-top:25px;
  margin-left:15px;
  border-radius:3px;

}
/*searchbox button*/
form.product_finder button {
  float: left;
  height:25px;
  padding-top: 25px;
  padding-left: 0px;
  margin-left:-10px;
  margin-bottom:0px;
  background: none;
  color: white;
  font-size: 12px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
}
/*The famous magnifying glass icon*/
.fa-search{
 position:absolute;
 z-index: 99;
 margin-top:10px;
 margin-left:-27px;
 color:#9f9354;
 font-size: 1.5em;
}

form.product_finder button:hover {
  background: none;
}

form.product_finder::after {
  content: "";
  clear: both;
  display: table;
}

/*This is the initial body text seen in articles*/
.caption{
    color:Black;
    
}

/*simple way of adding some vertical space across the screen width*/
  .top_space{
  width:100%;
  height:40px;
}

/*when an event is triggerd a message will be displayed here*/
.messages{
    z-index:999;
    position:absolute;
    color: red;
    font-family: roboto, 2em;
    align-text:center;
    
}
.header-social a{
    z-index:888;
    font-size: 1.3em;
    margin-top:10px;
}

.twelve{
    background-color:#3e3f3a;
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.one a{
color:#a89b59;
margin-bottom:20px;

}
.two{
color:#a89b59;
margin-bottom:20px;
}
.three{
color:#a89b59;
margin-bottom:20px;
}

.four {
color:#a89b59;
margin-bottom:10px;
}
.four a{
color:#a89b59;
margin-bottom:20px;
}

green text should be gold that is why this
.text_color a{
color:#a89b59;    
}