body {
    font-family: Arial;
    padding-top: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: white;
    background-color: #3e3f3a;
    
}

 footer a {
            color: lightgrey;
        }
        footer a:hover {
            color: #efefef;
        }



.fa {
  padding: 5px;
  font-size: 30px;
  width: 40px;
  height:40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 20px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook  {
  
  color: white;
}

.fa-twitter {
  
  color: white;
}

.fa-youtube {
 
  color: white;
}

.fa-instagram {
  
  color: white;
}

.accountform {
    padding-top: 20px;
}



 unvisited link 
a:link {
    color: white;
}

 visited link 
a:visited {
    color: white;
}

 mouse over link 
a:hover {
    color: white;
}

 selected link 
a:active {
    color: gold;
}


.project_photo img{
    width: 160px;
    height:auto; 
    display:block;
    border-radius: 10px;
    padding-top:10px;
    padding-left:3px;
    padding-bottom:10px;
    float: left;
}

.thumbnail ratings{
    top:20px;
}

.add-to-cart{
float:right;
}

.edit_button btn btn-success{
  float:right; 
  display:hidden;
    
}

.navbar-brand{
  font-family: 'Orbitron', sans-serif;  
    
}
