
.navbar{
top:30px;
text-shadow:white;
background-color: #3e3f3a;
width:100%;
margin:0px;
font-family: 'Barlow Condensed', sans-serif;
}

.navbar-brand:{
    color:white;
    background:white;
   
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: white;
}

.ui-link{
    shadow:white;
}


.navbar-default .navbar-nav>li>a {
    color: #a89b59;
    font-size:1.5em;
    
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #a89b59;
}

.img{
color:white;

}



body {
    font-family: Arial;
    padding-top: 100px;
    background-color: white;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #a89b59;
    background-color: #3e3f3a;
}

footer a {
    color: lightgrey;
}

footer a:hover {
    color: #efefef;
}

.footer-social {
  color:#a89b59;  
    
}

 /* social media */        
        
.fa {
    padding: 5px;
    font-size: 30px;
    color:#a89b59;
    width: 40px;
    height:40px;
    text-align: center;
    text-decoration: white;
    margin: 0px 20px;
    border-radius: 50%;
}

.fa fa:hover {
    opacity: 0.7;
}

.fa  {
    color: #a89b59;
}


.fa-shopping-cart{
    margin-left:-10px;
    margin-top:-20px;
    color:#9f9354;
    font-size: 2em;
    background-color:none;
}

.fa-home{
    margin-top:-20px;
    color:#9f9354;
    font-size: 1.5em;
}

.accountform {
    padding-top: 20px;
}

.list-unstyled {
    
    color:#a89b59;
}
 unvisited link 
a:link {
    color: white;
}

 visited link 
a:visited {
    color: white;
}

 mouse over link 
a:hover {
    color: white;
}

 selected link 
a:active {
    color: gold;
}

/*This is the container in product_detail.html page which holds extra product images */
.project_container{
    margin-top: 10px;
    max-width: 400px;
    height:auto; 
    display:block;
    float: left;
}
/*This css block will keep image width consistant inside the project container*/
.project_photo img{
    width: 200px;
    margin-left:3px;
}
/*This css overides the bootstrap theme removing the standard border*/
.thumbnail {
    top:20px;
    border: 0px;
    background-color: white;
}

.add-to-cart{
    float:right;
}

.edit_button btn btn-success{
    float:right; 
    display:hidden;
}

.navbar-brand{
     font-family: 'Orbitron', sans-serif; 
     max-width:300px;
     font-size:2.5em;
     
     display:inline;
} 

.navbar-header{
    

    
}

/*The large static header image at the top
In the future this will be different for each category */

.amazing_jumbo_pic{
    z-index:-100;
    position:static;
    height:400px;
    margin-top:-60px;
    margin-left: -33.33%;
    margin-right: -33.33%;
    margin-bottom:0px;
    background-image: url("https://s3.eu-west-3.amazonaws.com/glo-lighting/media/jumbo_pics/lzf-jumbo_pic.jpg");
}



/* This is a menu bar which is specific for each project category*/

.filter-bar{
    height:40px;
    margin-top:-30px;
    margin-bottom:30px;
    background-color:#3e3f3a;
    color:white;

}

.btn-invisable{
   display:hidden; 
}

.alert-success{
top:-30px;
z-index:200;
background-color:#a89b59;
}

.btn-success {
    color: #fff;
    background-color: #a89b59;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #5e5845;
    
}




.modal_dialog {
	position: fixed;
	font-family: Roboto;
	top: -40px;
	right: 0;
	bottom: -40;
	left: 0;
	background: rgba(0,0,0,0.70);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

#btn-cross{
    margin-left: 97%;
    margin-top: 0%;
}

.model_title{
    font-family: Roboto;
    color: #9f9354;
    text-align: center;
    font-size:1em;
    text-decoration:important none;
}


.modal_dialog:target {
	opacity:5;
	pointer-events: auto;
}


.form-control{
    margin-top:15px;
    height:20px;
   
}


.badge-light{
    
    background-color:red;
    margin-left:-20px;
   
}


.btn{
    background-color:x#a89b59;
}


/* search*/

* {
  box-sizing: border-box;
}

form.product_finder input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 200px;
  height:25px;
  background: white;
  margin-top:20px;

}

form.product_finder button {
  float: left;
  height:25px;
  padding-top: 15px;
  padding-left: 0px;
  margin-left:-10px;
  margin-bottom:0px;
  background: none;
  color: white;
  font-size: 12px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
}

.fa-search{
 position:absolute;
 z-index: 99;
 margin-top:8px;
 margin-left:-27px;
 color:#9f9354;
 font-size: 1.5em;
}

form.product_finder button:hover {
  background: none;
}

form.product_finder::after {
  content: "";
  clear: both;
  display: table;
}


