{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Glo-lighting</title>
  
  {% block head_style %}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/lighting_navbar_lighting.css' %}"> 
  {% endblock head_style %} 
  
    {% block head_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    {% endblock head_js %}
 
</head>
  <!-- Fixed navigation main catetgories-->
  <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
      <div class="container">
                  <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                           <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Archimanic</a>
                  </div>
      
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <form class="product_finder" action="{% url 'search' %}">
                            <input type="text" placeholder="Search.." name="q">
                            <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                      <li><a href="{% url 'project_list' %}"><i class="fa fa-home"></a></i>
                      <li><a href="#">Bathrooms</a></li>
                      <li><a href="#">Furniture</a></li>
                      <li><a href="{% url 'project_list' %}">Lighting</a></li>
                      <li><a href="#">Kitchens</a></li>
                      <li><a href="{% url 'view_cart' %}">Cart<i class="fa fa-shopping-cart"></i>                       
                        <label class="badge badge-light">{{ number_of_items_in_cart }}</label></a>
                      
                      </ul>
                  </div>
      </div>
  </nav>


            {% if messages %}
            <div class="alert alert-success">
              <div class="messages">
                {% for message in messages %} 
                {{ message }} 
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      {% block content %} 
      {% endblock %}
    </div>
  </div>

</div>
<!-- Footer end here-->
            


</body>

</html>