{% extends "base_no_detail.html" %} {% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">  
         {% if user.is_authenticated %}
     <div class"edit_button">
     <a href="{% url 'edit_product' product.id %}" class="btn btn-success">Edit</a>
     </div>
     {% endif %}
            <div class="row">        
    <div class="col-xs-12 col-sm-4" style="background-color:white;"> <div class="col-xs-12 col-sm-4" style="background-color:white;">
                <img width="400px" height="auto" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{product.image}}" alt="">

            </div></div>
    <div class="col-xs-12 col-sm-6" style="background-color:white;">     <div class="row">
                <div class="col-xs-12 col-sm-3-offset-1" style="background-color:white;">
                    <div class="add-to-cart">
<form action="{% url 'add_to_cart' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{product.id}}" />
        <p><input type="hidden" name="quantity" value="1" /></p>
        <p><input class="btn btn-success" type="submit" value="Add To Cart" /></p>
    </form>
    </div>
                    
                    <h3 class="card-title">{{product.name}} <img width="400px" height="auto" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{product.logo}}" alt="">
                    
                    
                    <h4>€{{product.bruto_price}} ex. btw</h4>
                    {% if product.brand %}
                    Brand:{{product.brand}}<br>
                    {% endif %} 
                
                    
                    {% if product.material %}
                    Material:{{product.material}}<br>
                    {% endif %}  
                    
                    {% if product.mains %}
                    Mains:{{product.mains}}<br>
                    {% endif %}
                    
                    {% if product.height %}
                    Shade height:{{product.height}}<br>
                    {% endif %}
                    
                    {% if product.width %}
                    Shade width:{{product.width}}<br>
                    {% endif %}
                    
                    {% if product.diameter %}
                    Shade ø:{{product.diameter}}<br>
                    {% endif %}
                    
                    {% if product.color %}
                    Colour:{{product.colour}}<br>
                    {% endif %}
                    
                    {% if product.fitting %}
                    Fitting:{{product.fitting}}<br>
                    {% endif %}
                    
                    {% if product.bulb %}
                    Bulb:{{product.bulb}}<br> 
                    {% endif %}
                    
                    {% if product.kelvin %}
                    Kelvin:{{product.kelvin}}<br> 
                    {% endif %}
                    
                    {% if product.cri %}
                    CRI:{{product.cri}}<br> 
                    {% endif %}
                    
                    {% if product.lumens %}
                    Lumens:{{product.lumens}}<br> 
                    {% endif %}
                    
                    {% if product.energy %}
                    Energy:{{energy_label}}<br> 
                    {% endif %}
                    
                    {% if product.art_No %}
                    Art.No.{{product.art_No}}<br>
                    {% endif %}

                    {% if product.transformer_included %}
                    Transformer:{{product.transformer_included}}<br>
                    {% endif %}<br>
                    
                    {% if product.miscellaneous %}
                    {{product.miscellaneous}}<br>
                    {% endif %}<br>
                    
                    <span class="text-warning"> </div>
                <div class="col-xs-12 col-sm-4" style="background-color:white;">
                    {% for product_image in product.images.all %}
                <div class="project_photo"><img src="{{MEDIA_URL}}{{ product_image.image }}"></div>
                {% endfor %}
                </div>
                </div>
                    
                    
                    

        </div>
      </div>
</div>



{% endblock content %}
