{% extends "base.html" %} {% block content %}
<div class="wide_band_top">
    <div class="telephone">
       <h5> <i class="fas fa-phone"><a href="0031653747641">help desk +31 (0)6 53 74 76 41</a></i></h5>
    </div>
</div>

<div class="amazing_jumbo_pic furniture">
    </div>
<div class="container"></div>
<div class="navbar-filter">
    <a href="{% url 'project_list' %}">All brands</a>
    <a href="/articles">Articles</a>
    <button class="dropbtn" onclick="myFunction()">interieur living</button>
    <div class="dropdown-content" id="myDropdown"> 
    <a href="#">Living Room</a>
    <a href="#">Bedroom</a>
    <a href="#">kitchen</a>
    <a href="#">decor</a>
     
</div>
</div>
<div class="wide_band"></div>
<h3>
Top Furniture from around the world 
</h3>
    
    {% if messages %}

          {% for message in messages %} {{ message }} {% endfor %}

     {% endif %}   
</div>
<div class="container-fluid">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-2 col-lg-2 col-md-2">
            <div class="thumbnail">
                <a href="{% url 'product_detail' product.id %}"><img src="{{MEDIA_URL}}{{product.image}}" alt="{{product.name}}"></a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row">
        
        {% endif %} {% endfor %}
    </div>
</div>

{% endblock content %}
