<html>
<head>
	<meta charset="UTF-8">
	<title>jaqurey fancy box tutorial</title>
    <script src="https://glo-lighting.s3.amazonaws.com/static/dist/jquery-3.3.1.min.js"></script>
    <script src="https://glo-lighting.s3.amazonaws.com/static/dist/jquery.fancybox.min.js"></script>
    </head>
    <body>
<a data-fancybox="gallery" href="image.jpg" width="50px"><img src="image.jpg" wuidth="180px"></a>
<a data-fancybox="gallery" href="image.jpg" width="50px"><img src="image.jpg" wuidth="180px"></a>
</body>
</html>
